_xenia/content/415607E7/00000001/gh2save/gh2save.dat
_xenia/content/415607E7/00000002/*/*
_xenia/content/415607E7/00000002/*/*
_xenia/content/415607E7/Headers/*
_xenia/xenia.log
_xenia/cache/*
videos/wg.wmv
videos/videos.txt
videos/intro.wmv
videos/hmx.wmv
*.ark
*.hdr
_xenia/x360ce.ini
_xenia/xinput1_1.dll
_xenia/xinput1_2.dll
_xenia/xinput1_3.dll
_xenia/xinput1_4.dll
_xenia/xinput9_1_0.dll
_gh2 - Copy.bat
_gh2_xbox_nopull.bat
custom-songs/*
_build/Xbox/gen/album_art
content/415607E7/safe/*
gh2-custom-songs/
_xenia/content/415607E7/00000001/gh2save/gh2save.dat
_xenia/content/415607E7/Headers/00000001/gh2save.header
_build/PS2/GEN/MAIN/*
_xenia/content/415607E7/00000001/2deluxe/2deluxe.dat
