content/415607E7/00000001/gh2save/gh2save.dat
/content/415607E7/00000002/*/*
/content/415607E7/00000002/*/*
content/415607E7/Headers/*
xenia.log
cache/*
videos/wg.wmv
videos/videos.txt
videos/intro.wmv
videos/hmx.wmv
*.ark
*.hdr
x360ce.ini
xinput1_1.dll
xinput1_2.dll
xinput1_3.dll
xinput1_4.dll
xinput9_1_0.dll
_gh2 - Copy.bat
_gh2_xbox_nopull.bat
gh2dx-360-songs/*
gh2dx-360-songs/
gh1dx-360-songs/
gh80sdx-360-songs/
gh2dlcdx-360-songs/
gh1dx-360-songs/*
gh80sdx-360-songs/*
gh2dlcdx-360-songs/*