name: CI

on: [push, pull_request]

jobs:
  build_xbox:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build ARK
        run: |
          chmod +x dependencies/arkhelper
          chmod +x dependencies/dtab
          chmod +x dependencies/superfreq
          find . -name "*.*_ps2" -type f -delete
          find . -name "*.vgs" -type f -delete
          dependencies/arkhelper dir2ark ./_ark ./gen -e -s 4073741823
          dependencies/dtab -b ./_theme/init_track_theme.dta ./_theme/init_track_theme.dtb
          dependencies/dtab -b ./_theme/init_ui_theme.dta ./_theme/init_ui_theme.dtb
          dependencies/dtab -e ./_theme/init_ui_theme.dtb ./_build/gen/init_ui_theme.dtb
          dependencies/dtab -e ./_theme/init_track_theme.dtb ./_build/gen/init_track_theme.dtb
      
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: GH2DX-Xbox
          path: |
            gen
            _build/default.xex
            
  build_xbox_force_guitar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build ARK
        run: |
          chmod +x dependencies/arkhelper
          chmod +x dependencies/dtab
          chmod +x dependencies/superfreq
          find . -name "*.*_ps2" -type f -delete
          find . -name "*.vgs" -type f -delete
          sed -i -e "s/;#define FORCE_PAD (1)/#define FORCE_PAD (1)/" _ark/config/macros.dta
          dependencies/arkhelper dir2ark ./_ark ./gen -e -s 4073741823
          dependencies/dtab -b ./_theme/init_track_theme.dta ./_theme/init_track_theme.dtb
          dependencies/dtab -b ./_theme/init_ui_theme.dta ./_theme/init_ui_theme.dtb
          dependencies/dtab -e ./_theme/init_ui_theme.dtb ./_build/gen/init_ui_theme.dtb
          dependencies/dtab -e ./_theme/init_track_theme.dtb ./_build/gen/init_track_theme.dtb
      
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: GH2DX-Xbox-force-all-as-guitar-controller
          path: |
            gen
            _build/default.xex
